@model StudentApplicationApp.Models.AddViewModel
@{
    ViewBag.Title = "Add";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <h3>@ViewBag.Message</h3>
    @using (Html.BeginForm())
    {
        <p>Name: </p>
        @Html.TextBoxFor(m => m.Name)
        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
        <br />
        <p>RollNo: </p>
        @Html.TextBoxFor(m => m.RollNo)
        @Html.ValidationMessageFor(m => m.RollNo, "", new { @class = "text-danger" })
        <br />
        <p>Cgpa: </p>
        @Html.TextBoxFor(m => m.Cgpa)
        @Html.ValidationMessageFor(m => m.Cgpa, "", new { @class = "text-danger" })
        <br />
        <input type="submit"  onclick=""/>
    }
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
</body>
</html>
